{% load staticfiles %}

<script src="{% static 'js/pjfeedreader.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pj-reader.routes.js' %}" type="text/javascript"></script>
<script src="{% static 'js/feeds/feeds.module.js' %}" type="text/javascript"></script>
<script src="{% static 'js/feeds/services/feeds.service.js' %}" type="text/javascript"></script>
<script src="{% static 'js/feeds/services/categories.service.js' %}" type="text/javascript"></script>
<script src="{% static 'js/feeds/controllers/new-feed.controller.js' %}" type="text/javascript"></script>
<script src="{% static 'js/feeds/controllers/categories.controller.js' %}" type="text/javascript"></script>
<script src="{% static 'js/layout/pjfeedreader.layout.module.js' %}" type="text/javascript"></script>
<script src="{% static 'js/layout/controllers/index.controller.js' %}" type="text/javascript"></script>
